body {
    font-family: sans-serif;
    color: darkblue;
    font-size: 200%;
    background: lightyellow ;
}

input {
    margin-right: 20px;
}

label {
    color: darkred;
    padding-left: 80px;
}

input {
    border: 2px solid lightblue;
    border-radius: 5px;
}

select {
    border: 2px solid lightblue;
    border-radius: 5px;
}

td {
    vertical-align: top;
    padding-top: 20px;
    padding-right: 20px;
}

.nbt {
    color: yellow;
}

.addb {
    margin: 50px;
}

.input_label {
    text-align: right;
}

.errors {
    color: red;
}

.addbutton {
    margin-top:20px;
    padding-left: 20px;
}

input[type=checkbox] {
    transform: scale(1.5);
    margin: 10px;
}

.desc {
    width: 500px;
    height: 100px;
}

.navbar-default {

    background-color: black;
}

.button_label {
    padding-top: 25px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover{
    color: yellow;
}



.navbar-default .navbar-nav > li > a {
    color: yellow;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: orange;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: orange;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: grey;
}

.carousel {
  height: 50%;
  width: 50%;
  position: absolute;
}


.carousel .carousel-caption {
    opacity: 0.5;
    background: black;
}

